header{
  background-color:$mainBlue ;
}
.container {
  max-width: 1000px;
  margin: auto;
}
.footer{
  background-color: #0D1B48;
  padding: 80px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 100%;
}

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

@for $i from 1 through $gridColumns {
  .col-#{$i} {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: #{100% / $gridColumns * $i};

  }
}
@for $i from 0 through $spacingCount {
  .m-#{$i} {
    margin: $i * 0.75rem;
  }
}

// @for $i from 0 through $spacingCount {
//   .p-#{$i} {
//     margin: $i * 0.75rem;
//   }
// }

// @for $i from 0 through $spacingCount {
//   .pe-#{$i} {
//     padding-right: $i * 0.75rem;
//   }
// }

@each $mq in (sm, md, lg, xl, xxl) {
  @media screen and (min-width: map-get($breakpoints, $mq)) {
    @for $i from 1 through $gridColumns {
      .col-#{$mq}-#{$i} {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: #{100% / $gridColumns * $i};

      }
    }
  }
}
@each $mq in (sm, md, lg, xl, xxl) {
  @media screen and (min-width: map-get($breakpoints, $mq)) {
    @for $i from 0 through $spacingCount {
      .m-#{$mq}-#{$i} {
        margin: $i * 0.75rem;
      }
    }
  }
}
